// import Compass

@import "compass";

// base colors and styles

$body-color: #606475;
$body-font-defaults: 1em/1.625 Georgia, Times, "Times New Roman", serif;
$text-color: #f1f1f1;
$header-font: 'PT Sans', sans-serif;
$header-color: mix(#AFB1B9, #fff);
$shadow-1: 1px 1px 0 rgba(black, 1);
$shadow-2: 2px 2px 0 rgba(black, 0.5);
$shadow-3: 3px 3px 3px rgba(black, 0.2);
$helper-text: #ccc;
$helper-link: #ccc;
$link-color: mix(#AFB1B9, #fff);
$link-hover: #AFB1B9;
$link-focus: #AFB1B9;
$menu-background: #202021;
$menu-link-color: #fefefe;
$menu-link-hover: #AFB1B9;
$selection-color: #fe57a1; // html5boilerplate pink lives on!
$accents-color: #AFB1B9;
$transparency: rgba(#202021, 0.1);
$transparency-hover: rgba(#202021, 0.2);
$box-transparency: rgba(#202021, 0.2);


// mixins
// very depressing I don't have more, smart SASS/Compass people contribute on GitHub!

@mixin pie-clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  @include has-layout;
}
