.entry-content {
    .wp-post-image {
        float: right;
        margin: 0 0 20px $spacing;
        border: 5px solid $box-transparency;
    }
    img {
        height: auto;
        max-width: 100%;
        margin: 0 0 $spacing;
    }
}
.alignleft,
img.alignleft {
    float: left;
    margin-right: $spacing;
}
.alignright,
img.alignright {
    float: right;
    margin-left: $spacing;
}
.aligncenter,
img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}
.wp-caption {
    max-width: 96%;
    margin-bottom: $spacing;
    padding: 9px 0 0;
    text-align:center;
    img { margin: 0; padding: 0; }
    p.wp-caption-text {
        margin: 0;
        padding: $spacing 5px;
    }
}
.gallery {
    display: block;
    margin: 0 auto;
    padding: 0 0 $spacing;
    clear: both;
    overflow: hidden;
    .gallery-row {
        display: block;
        margin: 0;
        clear: both;
        overflow: hidden;
    }
}
.gallery-item {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    img {
        float: none;
        height: auto;
        max-width: 90%;
        margin: 0 auto;
        padding: 1%;
        border: none !important;
    }
}
.gallery-icon {
    margin: 0 5px;
    padding-top: 6px;
}
.gallery-caption { padding: 6px 6px 0; }
.wp-smiley {
    max-height: 12px;
    margin: 0 !important;
}